<p id="notice"><%= notice %></p>

<h1>Details about <%= @event.name %></h1>
<article>
  <p><strong>Name:  </strong><%= @event.name %></p>
  <p><strong>Description:  </strong><%= @event.description %></p>
  <p><strong>Location:  </strong><%= @event.location %></p>
  <p><strong>Starts on:  </strong><%= @event.starts_at %></p>
  <p><strong>Price:  </strong><%= format_price(@event) %></p>
</article>
<%= link_to 'Edit this event', edit_event_path(@event) %>  | 
<%= link_to 'Show all events', events_path %>
